In [12]:
import numpy as np
import pandas as pd
import io, sys, os
from tqdm import tqdm

import torch
import torch.nn as nn

from sklearn.utils import class_weight

sys.path.insert(0, '../helpers/')
from normalize import normalize

In [14]:
dataset = pd.read_csv('../data/train.txt', sep='\t')
dataset['turn1'] = dataset['turn1'].apply(normalize)
dataset['turn2'] = dataset['turn2'].apply(normalize)
dataset['turn3'] = dataset['turn3'].apply(normalize)

In [15]:
dataset[ dataset['id'] == 700 ]

      id                  turn1                       turn2 turn3  label
700  700  no problem i'll laugh  here u go  " joke " :p  :p  haha  happy